@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Listing";
}

<h1>Users table</h1>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="btn-group" role="group">
  <button class="btn btn-default btn-outline-secondary" onclick=""><i class="fa fa-unlock"></i></button>
  <button class="btn btn-default btn-outline-secondary" onclick=""><i class="fa fa-lock"></i></button>
  <button class="btn btn-default btn-outline-secondary" onclick="PrintSelected()"><i class="fa fa-trash"></i></button>
</div>

<table class="table" id="usersTable">
  <thead>
    <tr>
        <th><input type="checkbox" id="checkSelectAll"></th>
      <th scope="col">ID</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>
  
  <tbody>

    @foreach(var user in Model)
    {
        <tr>
        <th><input type="checkbox" id="c_@user.Id"></th>
        <td>@user.Id</td>
        <td>@user.Email</td>
        </tr>
    }
  </tbody>
</table>

<script>
  var PrintSelected = function() {

    var arrItems = [];

    $("#usersTable tbody Input[type=checkbox]").each(function(index, val){

      var checkId = $(val).attr("Id");

      var arr = checkId.split('_');

      var id = arr[1];

      if($("#"+checkId).is(":checked", true))
      {
        arrItems.push(id);
      }

    })

    if(arrItems.length > 0)
    {
      arrItems.forEach(userId => {
        $.ajax({
          url: 'DeleteUser',
          data: { 'userId' : userId },
          type: "post",
          cache: false,
          success: function () {
                  location.reload();
                }
        });
      })
    }
  }
</script>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
$("#checkSelectAll").click(function () {
    if ($(this).is(':checked')) {
        $('#usersTable input:checkbox').prop('checked', true);
    } else {
        $('#usersTable input:checkbox').prop('checked', false);
    }
});
</script>