@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Listing";
}
 
<h1>Users table</h1>

<table class="table" id="usersTable">
  <thead>
    <tr>
      <th scope="col">Select</th>
      <th scope="col">ID</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>
  
  <tbody>

    @foreach(var user in Model)
    {
        <tr>
        <th><input type="checkbox" id="c_@user.Id"></th>
        <td>@user.Id</td>
        <td>@user.Email</td>
        </tr>
    }
  </tbody>
</table>

<input type="button" value="button" onclick="PrintSelected()"/>

<script>
  var PrintSelected = function() {

    var arrItems = [];

    $("#usersTable tbody Input[type=checkbox]").each(function(index, val){

      var checkId = $(val).attr("Id");

      var arr = checkId.split('_');

      var id = arr[1];

      if($("#"+checkId).is(":checked", true))
      {
        arrItems.push(id);
      }

    })

    if(arrItems.length > 0)
    {
      arrItems.forEach(userId => {
        $.ajax({
          url: 'DeleteUser',
          data: { 'userId' : userId },
          type: "post",
          cache: false
        });
      })
    }

  }

</script>