@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Listing";
}
 
<h1>Users table</h1>

<table class="table" id="usersTable">
  <thead>
    <tr>
      <th scope="col">Select</th>
      <th scope="col">ID</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>
  
  <tbody>

    @foreach(var user in Model)
    {
        <tr>
        <th><input type="checkbox" id="c_@user.Id"></th>
        <td>@user.Id</td>
        <td>@user.Email</td>
        </tr>
    }
  </tbody>
</table>

<input type="button" value="button" onclick="PrintSelected()"/>
@* <a href="PrintSelected()" class="btn btn-primary">Select</a> *@

@* @Html.ActionLink("Send", "SomeAction", "ListUsers", new { reportID = 1337 }, null); *@

<script>

  var PrintSelected = function() {

    var arrItems = [];

    var answer = "";

    $("#usersTable tbody Input[type=checkbox]").each(function(index, val){

      // debugger

      var checkId = $(val).attr("Id");

      var arr = checkId.split('_');

      var id = arr[1];

      if($("#"+checkId).is(":checked", true))
      {
        arrItems.push(id);
      }

    })

    if(arrItems.length != 0)
    {
      // debugger

      var resultString = arrItems.toString();

      $.post("ListUsers/DeleteUser", "048fd6e1-4d7c-4e44-9e46-c677bd873d80");
    }

  }

</script>